<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="center-on-page">
    {% for d in data %}
    {% set my_string = "static/img/"+ d['weather'][0]['icon']+".svg"%}
    <h1>
        <img src="{{my_string}}" class="svg" fill="white" height="100" vertical-aling="middle" width="100">
    </h1>
    <h1>Weather</h1>
    <h1>{{d['name']}}, {{d['sys']['country']}}</h1>
    <h1>{{d['main']['temp']|round|int}} °C</h1>
    {%endfor%}
</div>