<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


<div class="center-on-page">
    <h1>Weather in a City</h1>
    <form action="{{ url_for('result') }}" class="form-inline" method="POST">
        <div class="select">
            <select name="comp_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{o.name}}">{{o.name}}</option>
                {%endfor%}
            </select>
        </div>
        <button type="submit" class="btn">Go</button>
    </form>
</div>